:root {
  --primaryColor: rgba(253, 131, 64, 1);
  --landingBg: rgba(232, 235, 255, 1);
  --footerColor: rgba(59, 83, 74, 1);
  --font: "Poppins", sans-serif;
}

html {
  width: 100%;
  height: vh;
  scroll-behavior: smooth;
}
/* NavBar */

.nav-bar {
  justify-content: space-between;
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--landingBg);
  margin: 0;
}

.logo {
  margin-left: 20px;
  margin-top: 10px;
}

.Nav-a {
  display: flex;
  gap: 2rem;
}

.Nav-a p {
  font-weight: 500;
  font-family: var(--font);
}

.link a {
  font: var(--font);
  text-decoration: none;
  font-family: 400;
  color: black;
  font-weight: bold;
  font-size: 18px;
  margin-right: 20px;
}
.link a:hover {
  color: red;
}

.btn {
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  margin-top: 10px;
}
.btn button {
  border-color: transparent;
  background: var(--primaryColor);
  border-radius: 20px;
  color: white;
  font-weight: 800;
  font-family: var(--font);
  padding: 12px;
}
.btn button a {
  text-decoration: none;
  color: white;
}

.btn button:hover {
  background-color: green;
}
.Popup {
  width: 400px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 30px 30px;
  border-radius: 20px;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.Popup img {
  width: 100px;
  margin-top: -50px;
}
.Popup h2 {
  font-size: 38px;
  font-weight: 800;
  margin: 30px 0 10px;
  font-family: var(--font);
}
.Popup h4 {
  text-align: center;
  font-family: var(--font);
  font-weight: 200;
}
.Popup button {
  border-color: transparent;
  background: var(--primaryColor);
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: 800;
  font-family: var(--font);
  padding: 12px;
}

/* landing page */
.home {
  display: flex;
  background: var(--landingBg);
  justify-content: space-between;
}

.Landing-text {
  align-items: left;
  justify-content: left;
}

.headline {
  background-color: white;
  border-radius: 20px;
  padding: 3px;
  display: flex;
  width: 40%;
  margin-left: 10px;
  gap: 1px;
  margin-top: 5rem;
}
.headline button {
  font-family: var(--font);
  color: white;
  border: transparent;
  border-radius: 100px;
  margin-right: 3px;
  padding: 0px 16px;
  font-family: var(--font);
  font-weight: 900;
  font-size: 14px;
  background-color: var(--primaryColor);
}
.headline p {
  font-family: var(--font);
  opacity: 100%;
  font-weight: bolder;
  font-size: 14px;
}
.Landing-text h1 {
  font-weight: bolder;
  font-family: var(--font);
  font-size: 60px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: -5px;
}
.Landing-text h1 span {
  color: var(--primaryColor);
}
.Landing-text p {
  font-weight: 100;
  font-family: var(--font);
  font-size: 12px;
  margin-left: 10px;
  width: 70%;
  opacity: 65%;
}

.email-box {
  margin-left: 10px;
  margin-top: 60px;
}
.form {
  display: flex;
  border: 2px solid var(--primaryColor);
  border-radius: 20px;
  width: 75%;
  justify-content: space-between;
}
.form button {
  border-color: transparent;
  background: var(--primaryColor);
  border-radius: 15px;
  color: white;
  font-weight: 800;
  font-family: var(--font);
  padding: 18px;
}
.form button:hover {
  background-color: green;
}
.email-box input {
  color: var(--primaryColor);
  margin-left: 10px;
  border: transparent;
  padding: 10px;
  background-color: transparent;
}

.bgimg {
  background-image: url("Assets/Landing\ img.png");
  margin-top: 100%;
}

/* Features */
.check-svg {
  color: var(--primaryColor);
  width: 70px;
  height: 70px;
  align-self: center;
  margin: 5px 40%;
}
.service-svg {
  color: var(--primaryColor);
  width: 70px;
  height: 70px;
  align-self: center;
  margin: 5px 40%;
}
.box-svg {
  color: var(--primaryColor);
  width: 70px;
  height: 70px;
  align-self: center;
  margin: 5px 40%;
}

.Features {
  margin-top: 30px;
  align-items: center;
  justify-content: center;
}

.Features h4 {
  text-align: center;
  font-family: 18px;
  font-weight: lighter;
  font-family: var(--font);
}
.Features h1 {
  text-align: center;
  font-family: 30px;
  font-weight: 900;
  font-family: var(--font);
}

.Features p {
  text-align: center;
  font-family: 10px;
  font-weight: lighter;
  font-family: var(--font);
}
.Feat-container {
  display: flex;
  gap: 3px;
  justify-content: space-evenly;
}

.Feat-service {
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  padding: 20px;
}
.Feat-service h2 {
  text-align: center;
  font-weight: 900;
  font-size: 20px;
  font-family: var(--font);
}
.Feat-service p {
  font-size: 12px;
  font-weight: lighter;
  text-align: center;
  font-family: var(--font);
}

/* mid section */
.mid-section {
  display: flex;
  gap: 2px;
  margin-top: 5rem;
}
.mid-section-text {
  width: 50%;
}
.mid-section-text h2 {
  font-family: var(--font);
  font-size: 25px;
  text-align: center;
}
.mid-section-text p {
  font-family: var(--font);
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
}
.mid-section-text ul {
  margin: 3rem 10rem;
  list-style: none;
}
.mid-section-text ul li {
  margin: 10px 0px;
  font-family: var(--font);
  font-weight: bold;
}
.mid-section-text ul li img {
  margin-right: 15px;
  width: 15px;
  height: 15px;
}

.mid-section-text button {
  border-color: transparent;
  background: var(--primaryColor);
  border-radius: 20px;
  color: white;
  font-weight: 800;
  font-family: var(--font);
  padding: 12px;
  align-self: center;
  margin: 0px 10rem;
}
.mid-section-text button:hover {
  background-color: green;
}
#quote-box {
  margin-top: 30px;
  width: fit-content;
  display: none;
  padding: 20px 10px;
  border-radius: 20px;
  background-color: rgba(172, 171, 171, 0.267);
}
.quote-box blockquote {
  font-family: var(--font);
  color: var(--primaryColor);
  font-weight: bolder;
}
.quote-box span {
  margin-left: 70%;
  font-family: var(--font);
  font-weight: 200;
}

.square-img {
  width: 50%;
  margin-left: 40px;
}

/* services */
.services {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.service-img {
  width: 50%;
  margin-top: 100px;
}

.service-list {
  width: 100%;
}
.service-list h2 {
  font-family: var(--font);
  font-size: 25px;
  text-align: left;
  margin-left: 30px;
}
.service-list p {
  font-size: 12px;
  font-weight: lighter;
  text-align: left;
  font-family: var(--font);
  margin-left: 30px;
}
.service-description-1 {
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
  margin-left: 30px;
  padding: 4px;
  margin-top: 30px;
}
.service-description-2 {
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
  margin-left: 30px;
  padding: 4px;
  margin-top: 30px;
}
.service-description-3 {
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
  margin-left: 30px;
  padding: 4px;
  margin-top: 30px;
}

.service-description-text {
  width: 80%;
}
.service-description-text h2 {
  font-size: 20px;
  font-weight: bold;

  font-family: var(--font);
}
.service-description-text p {
  font-size: 10px;
  font-weight: 200;

  font-family: var(--font);
}

/* About us */
.About {
  margin-top: 80px;
  display: flex;
}
.About-img {
  background-color: rgba(182, 179, 179, 0.103);
  border-radius: 20px;
}
.About-text img {
  position: absolute;
  right: 0px;
  margin-top: -20px;
  z-index: -10;
}
.About-text h1 {
  font-family: var(--font);
  font-size: 40px;
  text-align: left;
  margin-left: 50px;
}
.About-text p {
  font-size: 15px;
  font-weight: lighter;
  text-align: left;
  font-family: var(--font);
  margin: 0px 50px;
}

/* Footer Menu */

.Footer-menu {
  padding: 40px;
  z-index: 10;
  margin: 5rem 6rem 2rem;
  border-radius: 10px;
  align-self: center;
  background-image: url(Assets/footerimg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.Footer-menu h2 {
  font-size: 30px;
  text-align: center;
  color: white;
  font-weight: 900;
  font-family: var(--font);
}
.Footer-menu p {
  font-size: 18px;
  text-align: center;
  color: white;
  font-weight: lighter;
  font-family: var(--font);
}
.Footer-menu button {
  align-self: right;
  border-color: transparent;
  background: var(--primaryColor);
  border-radius: 20px;
  color: white;
  font-weight: 800;
  margin-left: 70%;
  font-family: var(--font);
  padding: 12px;
}
.Footer-menu button a {
  text-decoration: none;
  color: white;
}

.Footer-menu button:hover {
  background-color: green;
}

/* Footer */
.footer {
  height: 300px;
  position: relative;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--footerColor);
}
.Footer-logo p {
  color: white;
  font-family: var(--font);
  text-align: left;
  font-size: 15px;
  margin-top: -10px;
  font-weight: 200;
}

.footer-sub {
  padding: 2rem;

  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.Footer-link h3 {
  color: white;
  font-family: var(--font);
  text-align: center;
}
.Footer-link ul li {
  color: white;
  font-family: var(--font);
  text-align: left;
  list-style: none;
  font-size: 15px;
  font-weight: 200;
}
.Footer-Email h3 {
  color: white;
}
.Footer-Email p {
  color: white;
  font-size: 14px;
  font-weight: lighter;
  font-family: var(--font);
}
.location {
  color: white;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 5px;
  font-family: var(--font);
}

/* Media query for responsivness */
/* md */
@media screen and (max-width: 768px) {
  /* nav bar  */
  .link a {
    margin-right: 0px;
    font-size: 12px;
  }

  /* landing page */
  .home {
    height: 500px;
  }
  .headline {
    background-color: white;
    border-radius: 20px;
    padding: 3px;
    display: flex;
    width: 40%;
    margin-left: 10%;
    gap: 1px;
    margin-top: 20px;
  }
  .Landing-text h1 {
    font-size: 50px;
    margin-left: 10%;
  }
  .Landing-text p {
    width: 60%;
    margin-left: 10%;
  }
  .email-box {
    margin-left: 10%;
  }
  .bg-img {
    display: none;
  }

  /* Features */

  /* mid section */
  .mid-section {
    display: block;
  }
  .mid-section-text {
    width: 100%;
  }
  .mid-section-text h2 {
    text-align: center;
    font-family: var(--font);
    font-size: 25px;
  }
  .mid-section-text p {
    font-family: var(--font);
    font-size: 12px;
    font-weight: lighter;
    text-align: center;
  }
  .services {
    display: block;
  }
  .service-img {
    width: 100%;
    margin-left: 17%;
  }
  .service-list {
    width: 100%;
  }
  /* About us */
  .About {
    display: block;
  }

  /* Footer menu */
  .Footer-menu h2 {
    font-size: 20px;
    text-align: left;
  }
  .Footer-menu p {
    font-size: 12px;
    text-align: left;
  }

  /* Footer*/
  .Footer-Email {
    margin-left: -20px;
  }
}

/* sm */
@media screen and (max-width: 481px) {
  /* Nav bar */
  .Nav-a {
    display: none;
  }
  /* Landing Page  */
  .Landing-text h1 {
    font-size: 25px;
  }
  /* Features  */
  .Feat-container {
    display: block;
    margin-top: 10px;
  }
  .mid-section-text h2 {
    font-size: 17px;
    text-align: center;
  }
  .mid-section-text p {
    font-family: var(--font);
    font-size: 8px;
    font-weight: lighter;
    text-align: center;
  }
}
